:root {
  --drk-bg-color: rgb(58, 17, 58);
  --light-bg-color: rgb(167, 86, 202);
}
body {
  background-color: rgb(116, 47, 116);
  font-family: 'Montserrat', sans-serif;
  
}

.header {
  display: flex;
  flex-direction: column;
}

.heading {
  align-self: center;
  color: var(--drk-bg-color);
  text-decoration: none;
  font-size: 40px;
  border: 2.7px solid;
  border-radius: 7px;
  padding: 0.5vw 25vw;
  background: rgb(98, 19, 67);
  background: linear-gradient(
    90deg,
    rgba(98, 19, 67, 1) 0%,
    rgba(189, 99, 227, 1) 100%
  );
  box-shadow: 10px 15px 15px black;
}

.nav {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  margin: 1vw 8vw;
  font-weight: bold;
}

.nav-item {
  text-decoration: none;
  color: var(--drk-bg-color);
}

.nav-item-active {
  color: var(--light-bg-color);
  background-color: var(--drk-bg-color);
  border-radius: 10%;
  text-decoration: none;
  padding: 0.3rem;
  border: solid 2px black;
  box-shadow: 10px 15px 15px black;
}

.about-container,
.portfolio-container,
.contact-container,
.resume-container {
  background-color: rgb(167, 86, 202);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2.7px solid var(--drk-bg-color);
  border-radius: 4px;
  width: 90%;
  margin: auto;
  margin-top: 8vh;
  padding-bottom: 20px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portrait {
  border: solid 2px black;
  border-radius: 4px;
  display: flex;
  height: 50%;
  width: 50%;
}

.about-header,
.portfolio-header,
.resume-header,
.contact-header {
  display: flex;
  justify-content: center;
  color: var(--drk-bg-color);
  font-size: 40px;
  text-align: center;
  text-decoration: underline;
}

.about-text {
  font-size: 2.5vw;
  padding: 2vw;
  color: var(--drk-bg-color);
  text-align: center;
}

.img-wrap {
  position: relative;
  margin: 50px 0 50px 0;
  height: 300px;
  width: 400px;
  border: solid 2px black;
  box-shadow: 10px 15px 15px black;
}

.img-description {
  position: absolute;
  text-align: center;
  padding-top: 100px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--drk-bg-color);
  color: #fff;
  visibility: hidden;
  opacity: 0;

  transition: opacity .2s, visibility .2s;
}

.img-wrap:hover .img-description {
  visibility: visible;
  opacity: .9;
}

.img-link {
  color: #fff;
  text-decoration: none;
  padding: 5px;
  opacity: .5;
  font-size: 30px;
}

.img-link:hover {
  opacity: 1;
}

.portfolio-section {
  display: flex;
  justify-content: center;
}

.contact-form {
  width: 500px;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}

.form-div {
  width: 90%;
  padding: 5px;
}

.form-label,
.form-input,
.error-text {
  font-size: 20px;
  color: var(--drk-bg-color);
  width: 100%;
}

.button {
  background-color: var(--drk-bg-color);
  color:rgb(167, 86, 202);
  font-size: 20px;
  width: 50%;
  margin: auto;
  border: 2px black solid;
  border-radius: 5px;
  cursor: pointer;
}

.resume-link {
  text-decoration: none;
  background-color: var(--drk-bg-color);
  color: var(--light-bg-color);
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.resume-link:hover {
  font-size: 20px;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.footer-icon {
  margin: 5px;
  opacity: .6;
}

.footer-icon:hover {
  opacity: 1;
}

@media screen and (max-width: 980px) {
  .header,
  .heading {
    border-radius: 0;
    width: 100%;
    text-align: center;
    box-shadow: none;
  }
  
}

@media screen and (max-width: 768px) {
  .nav {
    flex-direction: column;
    text-align: center;
  }

  .nav-item,
  .nav-item-active {
    box-shadow: none;
    margin: 5px;
  }
  .img-description {
    visibility: visible;
    position: relative;
    opacity: 1;
    padding: 0;
  }
}

@media screen and (max-width: 500px) {
  .about-container,
  .portfolio-container,
  .contact-container,
  .resume-container {
    background-color: rgb(116, 47, 116);
    border: none;
    display: block;
  }

  .img-wrap,
  .img {
    position: relative;
    margin: auto;
    height: auto;
    width: 350px;
    border: none;
    box-shadow: none;
  }

  .contact-form {
    width: auto;
  }
}